
.dropbtn {
    background-color: rgba(249, 249, 249, 0);
    color: white;
    padding: 16px;
    font-size: 16px;
    font-family: "Arial Black";
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.57);
    color: rgba(193, 193, 193, 0);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(202, 140, 255, 0);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    font-family: "Arial Black";
    background-color: black;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #dd0c00;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block; background-color: #dd0c00;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown-content a:hover {background-color: #dd0c00;}