.red{
color:red;
font-weight: bold;
  }

td { border: 1px solid black; }

.header{
    background-color: black;
    color: white;
    /*display: inline-block;*/
    top:0px;
    position: fixed;
    height: 15vh;
    width: 100%;}

    .header{
        background-color: black;
        /*display: inline-block;*/
        top:0px;
        position: fixed;
        height: 15vh;
        width: 100%;}
    .div2
    {
        background-color: white;
        /*display: inline-block;*/
        height: 300vh;
        width:19%;
        float:left;
    }

    .div3{

        background-color: white;
        display: inline-block;
        height: 100%;
        width: 53%;
        float:left;
        padding: 30px;
        padding-top: 100px;


    }
    .div4{
        background-color: white;
        /*display: inline-block;*/
        right: 0;
        width:19%;
        height: 300vh;
        float:left;


    }
    .footer{
        background-color: gray;
        width: 100%;
        bottom:0px;
        height: 10%;
        position: fixed;
        left: 0;
        bottom: 0px;}
    .container{
        background-color: white;
        display: inline-block;
        height: 100%;
        width: 100%;}

    #logged_user{
        font-family: "Arial";
        font-size: small;
        right: 10px;
        top: 10px;
        position: fixed;
    }

    #shoutbox_reference{
        text-align: center;
    font-family: "Arial Black";}



