<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{css/styles.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{css/dropdown_styles.css}" />
</head>
<body>


<div class="header">
    <div class="dropdown"><button class="dropbtn">TELEGRAM ANALYSER</button>
        <div class="dropdown-content">
            <a href="/enter_telegram">ENTER TELEGRAM</a>

        </div>
    </div>
</div>
<div class="container">

    <div class="div2">div2 </div>
    <div class="div3">



        <form action="#" th:action="@{/enter_telegram}" th:object="${telegram}" method="post">
            <p>Telegram: <input type = "text" th:field="*{allCharactersString}"/></p>

            <p><input type = "submit" value="Analyse telegram"/><input type = "reset" value="Clear"/></p>
        </form>



        <div>

            <div class="div4"><!--div4--> </div>

        </div>


</body>
</html>