<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{css/styles.css}" />
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/styles.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{css/dropdown_styles.css}" />
</head>
<body>


<div class="header">
    <div class="dropdown"><button class="dropbtn">TELEGRAM ANALYSER</button>
        <div class="dropdown-content">
            <a href="/enter_telegram">ENTER TELEGRAM</a>

        </div>
    </div>
</div>
<div class="container">

    <div class="div2">div2 </div>
    <div class="div3">


        <p class="red">TELEGRAM HAS BEEN ANALYSED</p>
        <p th:text="'telegram: ' + ${telegram.allCharactersString} " />
        <!--INSERT TABLE-->

        <table class="table1">
            <tr>
                <td>
                    <p>HAS: </p>
                    <p th:text="'whitespaces: '+      ${telegram_testzcca.whitespaces}"  />
                    <p th:text="'name:        '+      ${telegram_testzcca.name       }"  />
                    <p th:text="'version:   '+      ${telegram_testzcca.version  }"  />
                    <p th:text="'timestamp:   '+      ${telegram_testzcca.timestamp  }"  />
                    <p th:text="'referenceNumber: '+      ${telegram_testzcca.referenceNumber}"  />
                    <p th:text="'filler:      '+      ${telegram_testzcca.filler     }"  />
                    <p th:text="'LocationID:      '+      ${telegram_testzcca.locationId     }"  />

                </td><td>

                <p>SHOULD HAVE: </p>
                <p th:text="'whitespaces: '+      ${telegram_testzcca.shouldHaveWhitespaces}"  />
                <p th:text="'name:        '+      ${telegram_testzcca.shouldHaveName       }"  />
                <p th:text="'version:   '+      ${telegram_testzcca.shouldHaveVersion  }"  />
                <p th:text="'timestamp:   '+      ${telegram_testzcca.shouldHaveTimestamp  }"  />
                <p th:text="'referenceNumber: '+      ${telegram_testzcca.shouldHaveReferenceNumber}"  />
                <p th:text="'filler:      '+      ${telegram_testzcca.shouldHaveFiller     }"  />
                <p th:text="'LocationID:      '+      ${telegram_testzcca.shouldHaveLocationId     }"  />

            </td>
            </tr>
        </table>


        <div>

            <div class="div4"> </div>

        </div>


</body>
</html>