<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{css/styles.css}" />
<link rel="stylesheet" type="text/css" th:href="@{css/dropdown_styles.css}" />
<head>
    <title>ENTER TELEGRAM SUCCESS</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/styles.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{css/dropdown_styles.css}" />
</head>
<body>


<div class="header">
    <div class="dropdown"><button class="dropbtn">TELEGRAM ANALYSER</button>
        <div class="dropdown-content">
            <a href="/enter_telegram">ENTER TELEGRAM</a>

        </div>
    </div>
</div>


<div class="container">

    <div class="div2">div2 </div>
    <div class="div3">

        <p>Telegram has been added/></p>
        <p th:text="'telegram: ' + ${telegram.allCharactersString}" />
        <p th:text="'name: ' + ${telegram.name}" />


        </div>

            <div class="div4"></div>

        </div>

</body>