<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{css/styles.css}" />
<link rel="stylesheet" type="text/css" th:href="@{css/dropdown_styles.css}" />
<head>
    <title>Main page</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/styles.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{css/dropdown_styles.css}" />
</head>
<body>
<div class="header">
    <div class="dropdown"><button class="dropbtn">TELEGRAM ANALYSER</button>
        <div class="dropdown-content">
            <a href="/enter_telegram">ENTER TELEGRAM</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="div2">div2 </div>
    <div class="div3">
        <p class="red">Telegram has been analysed.</p>
        <p>Whitespaces don't match</p>
        <p th:text="'telegram: ' + ${telegram.allCharactersString}" />
        <p>Whitespaces don't match:</p>
        <div style="red"><p th:text="${telegram.whitespaces}" /></div>


            <div class="div4"></div>
        </div>
</body>